*{
  margin: 0;
}

.empty-cart {
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}



/* Navbar */
.navbar {
  border-bottom: 0.1rem solid #000000;
  background: #D8C3A4;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 2%;
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
}

.toggle-btn {
  margin-right: 1.4rem;
  display: none;
  width: 10%;
  box-sizing: border-box;
  cursor: pointer;
}

.logo-container-navbar {
  margin-right: 1.4rem;
  display: flex;
  width: 10%;
  box-sizing: border-box;
}

.logo {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.logo:hover {
  transform: scale(1.3);
}

.search-bar {
  border-radius: 1.3rem;
  border: 0.1rem solid #000000;
  background: #FFFFFF;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.75% 1.5%;
  width: 30%;
  height: fit-content;
  box-sizing: border-box;
  align-self: center;
}

.search-bar-text {
  width: 90%;
  overflow-wrap: break-word;
  font-family: var(--text-regular-normal-font-family, 'Roboto');
  font-weight: var(--text-regular-normal-font-weight, 400);
  font-size: var(--text-regular-normal-font-size, 1rem);
  line-height: var(--text-regular-normal-line-height, 1.5);
  color: #677583;
}

.search-icon {
  background: url('../assets/images/search_icon.png') 50% / cover no-repeat;
  margin: 0.1rem 0;
  width: 1.3rem;
  height: 1.3rem;
  align-self: center;
}

.pages {
  margin: 1% 0;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
}

.pages-container {
  padding: 0 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 20rem;
  height: fit-content;
  box-sizing: border-box;
}

.navbar-page-txt {
  overflow-wrap: break-word;
  font-family: var(--text-regular-normal-font-family, 'Roboto');
  font-weight: var(--text-regular-normal-font-weight, 400);
  font-size: var(--text-regular-normal-font-size, 1rem);
  line-height: var(--text-regular-normal-line-height, 1.5);
  color: #000000;
}

.navbar-page-txt:hover {
  transform: scale(1.1);
  color: white;
}

.more-pages {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}

.drop-down-icon {
  background: url('../assets/images/drop_down_icon.png') 50% / cover no-repeat;
  width: 1.5rem;
  height: 1.5rem;
}

.user-data {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
}

.sign-up-btn {
  box-shadow: 0rem 0.3rem 0.3rem 0rem rgba(0, 0, 0, 0.25);
  border-radius: 1.3rem;
  border: 0.1rem solid #000000;
  background: #FFFFFF;
  margin-right: 1rem;
  padding: 0.5rem 1.3rem;
  justify-self: center;
  box-sizing: border-box;
}

.sign-up-btn:hover {
  transform: scale(1.1);
  background: #C4B9AA;
}

.sign-up {
  overflow-wrap: break-word;
  font-family: var(--text-regular-normal-font-family, 'Roboto');
  font-weight: var(--text-regular-normal-font-weight, 400);
  font-size: var(--text-regular-normal-font-size, 1rem);
  line-height: var(--text-regular-normal-line-height, 1.5);
  color: #000000;
}

.shopping-bag-icn {
  background: url('../assets/images/shopping_bag_icn.png') 50% / cover no-repeat;
  width: 2.4rem;
  height: 2.4rem;
}

.shopping-bag-icn:hover {
  transform: scale(1.3);
}

/* Sidebar */
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #D8C3A4;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 10px 15px;
  text-decoration: none;
  font-size: 25px;
  color: #000;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.close-btn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media (max-width: 830px) {
  .toggle-btn {
    display: block;
  }
  .pages {
    display: none;
  }
  .logo-container-navbar {
    width: auto;
  }
  .navbar {
    height: 4rem;
    justify-content: space-between;
  }
  .search-bar-text {
    display: none;
  }
  .search-bar {
    width: fit-content;
  }
  .logo {
    height: 3rem;
  }
}





/* Empty Cart Content */

.empty-cart-content {
  background: #F2E9D8;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1.8rem;
  width: 100%;
  box-sizing: border-box;
}

.cart-heading {
  background: #F2E9D8;
  display: flex;
  padding: 2.1rem 0;
  width: 100%;
  justify-content: center;
  box-sizing: border-box;
}

.cart-header {
  overflow-wrap: break-word;
  font-family: var(--heading-desktop-h-3-font-family, 'Roboto');
  font-weight: var(--heading-desktop-h-3-font-weight, 700);
  font-size: var(--heading-desktop-h-3-font-size, 2.5rem);
  line-height: var(--heading-desktop-h-3-line-height, 1.2);
  color: #000000;
}

.empty-cart-info {
  display: flex;
  box-sizing: border-box;
}


.cart-content {
  background: #F2E9D8;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1.5rem;
  box-sizing: border-box;
}

.empty-cart-image {
  margin-bottom: 1.5rem;
  width: 100%;
}

.cart-container {
  margin: 0 3.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  box-sizing: border-box;
}

.cart-info {
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  box-sizing: border-box;
}

.cart-product-title {
  margin-bottom: 0.5rem;
  display: flex;
  box-sizing: border-box;
}


.cart-product-heading {
  overflow-wrap: break-word;
  font-family: var(--heading-desktop-h-6-font-family, 'Roboto');
  font-weight: var(--heading-desktop-h-6-font-weight, 700);
  font-size: var(--heading-desktop-h-6-font-size, 1.3rem);
  line-height: var(--heading-desktop-h-6-line-height, 1.4);
  color: #000000;
}

.empty-cart-description {
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  color: #000000;
}

.add-items-btn {
  box-shadow: 0rem 0.3rem 0.3rem 0rem rgba(0, 0, 0, 0.25);
  border-radius: 1.3rem;
  border: 0.1rem solid #000000;
  background: #C4B9AA;
  display: flex;
  flex-direction: row;
  padding: 0.8rem 0;
  width: 12.1rem;
  justify-content: center;
  box-sizing: border-box;
}

.add-more-items {
  margin-right: 0.8rem;
  overflow-wrap: break-word;
  font-family: var(--text-regular-normal-font-family, 'Roboto');
  font-weight: var(--text-regular-normal-font-weight, 400);
  font-size: var(--text-regular-normal-font-size, 1rem);
  line-height: var(--text-regular-normal-line-height, 1.5);
  color: #FFFFFF;
}
.plus-icon {
  background: url('../assets/images/plus_icon.png') 50% / cover no-repeat;
  margin: 0.1rem 0;
  width: 1.3rem;
  height: 1.3rem;
}


/* Newsletter */

.newsletter {
  background: #F2E9D8;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 4.4rem 4rem;
  width: 100%;
  box-sizing: border-box;
}

.newsletter-content {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.newsletter-heading {
  margin-bottom: 1.5rem;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: var(--heading-desktop-h-3-font-family, 'Roboto');
  font-weight: var(--heading-desktop-h-3-font-weight, 700);
  font-size: var(--heading-desktop-h-3-font-size, 2.5rem);
  line-height: var(--heading-desktop-h-3-line-height, 1.2);
  color: #000000;
}
.newsletter-description {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: var(--text-medium-normal-font-family, 'Roboto');
  font-weight: var(--text-medium-normal-font-weight, 400);
  font-size: var(--text-medium-normal-font-size, 1.1rem);
  line-height: var(--text-medium-normal-line-height, 1.5);
  color: #000000;
}

.newsletter-actions {
  margin: 0.5rem 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.newsletter-form {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}


.newsletteremail-container {
  border: 0.1rem solid #000000;
  background: #FFFFFF;
  margin: 0 1rem 1rem 0;
  padding: 0.8rem;
  width: 21.3rem;
  box-sizing: border-box;
}

.email {
  overflow-wrap: break-word;
  font-family: var(--text-regular-normal-font-family, 'Roboto');
  font-weight: var(--text-regular-normal-font-weight, 400);
  font-size: var(--text-regular-normal-font-size, 1rem);
  line-height: var(--text-regular-normal-line-height, 1.5);
  color: #666666;
}

.sub-btn {
  box-shadow: 0rem 0.3rem 0.3rem 0rem rgba(0, 0, 0, 0.25);
  border-radius: 1.3rem;
  border: 0.1rem solid #000000;
  background: #C4B9AA;
  display: flex;
  padding: 0.8rem;
  height: fit-content;
  margin-bottom: inherit;
  box-sizing: border-box;
}

.newsletter-sub {
  overflow-wrap: break-word;
  font-family: var(--text-regular-normal-font-family, 'Roboto');
  font-weight: var(--text-regular-normal-font-weight, 400);
  font-size: var(--text-regular-normal-font-size, 1rem);
  line-height: var(--text-regular-normal-line-height, 1.5);
  color: #FFFFFF;
}

.sub-desc {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: var(--text-tiny-normal-font-family, 'Roboto');
  font-weight: var(--text-tiny-normal-font-weight, 400);
  font-size: var(--text-tiny-normal-font-size, 0.8rem);
  line-height: var(--text-tiny-normal-line-height, 1.5);
  color: #000000;
}









/* Footer */

.footer {
  background: #D8C3A4;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.6% 5%;
  width: 100%;
  box-sizing: border-box;
}

.footer-container {
  margin-bottom: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  align-items: center;
}

.footer-content {
  display: flex;
  flex-direction: column;
  width: 21.9rem;
  box-sizing: border-box;
}

.logo-container-footer {
  margin-bottom: 2rem;
  display: flex;
  align-self: flex-start;
  width: 15.4rem;
  height: 4.5rem;
  box-sizing: border-box;
}


.footer-pages {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 21.9rem;
  box-sizing: border-box;
}

.footer-txt {
  margin-right: 0.8rem;
  overflow-wrap: break-word;
  font-family: var(--text-regular-semi-bold-font-family, 'Roboto');
  font-weight: var(--text-regular-semi-bold-font-weight, 600);
  font-size: var(--text-regular-semi-bold-font-size, 1rem);
  line-height: var(--text-regular-semi-bold-line-height, 1.5);
  color: #000000;
}

.subscription {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.sub-container {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}

.email-container {
  border: 0.1rem solid #000000;
  background: #FFFFFF;
  margin-right: 1rem;
  padding: 0.8rem;
  width: 17.8rem;
  box-sizing: border-box;
}

.email {
  font-family: var(--text-regular-normal-font-family, 'Roboto');
  font-weight: var(--text-regular-normal-font-weight, 400);
  font-size: var(--text-regular-normal-font-size, 1rem);
  line-height: var(--text-regular-normal-line-height, 1.5);
  color: #666666;
}

.submit-txt {
  overflow-wrap: break-word;
  font-family: var(--text-regular-normal-font-family, 'Roboto');
  font-weight: var(--text-regular-normal-font-weight, 400);
  font-size: var(--text-regular-normal-font-size, 1rem);
  line-height: var(--text-regular-normal-line-height, 1.5);
  color: #000000;
  border-radius: 1.3rem;
  padding: 0.8rem 0rem;
  width: 6.2rem;
  background: #FFFFFF;
  border-width: thin;
}

.sub-desc-container {
  display: flex;
  align-self: flex-start;
  box-sizing: border-box;
}

.sub-desc {
  font-family: var(--text-regular-normal-font-family, 'Roboto');
  font-weight: var(--text-regular-normal-font-weight, 400);
  font-size: var(--text-regular-normal-font-size, 1rem);
  line-height: var(--text-regular-normal-line-height, 1.5);
  color: #000000
}

.credits-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

.divider {
  border: 0.1rem solid #000000;
  background: #000000;
  margin: 0 0.2rem 2rem 0;
  width: 100%;
  height: 0.1rem;
}

.credit-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
}

.footer-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 22.2rem;
  box-sizing: border-box;
}

.footer-link {
  margin-right: 0.7rem;
  overflow-wrap: break-word;
  font-family: var(--text-small-link-font-family, 'Roboto');
  font-weight: var(--text-small-link-font-weight, 400);
  font-size: var(--text-small-link-font-size, 0.9rem);
  text-decoration-line: var(--text-small-link-text-decorationLine, underline);
  line-height: var(--text-small-link-line-height, 1.5);
  color: #000000;
}


@media (max-width: 830px) {
  .footer-container {
    flex-direction: column;
    align-items: flex-start;
  }
  .subscription {
    margin-top: 2rem;
  }
  .submit-txt {
    width: fit-content;
  }

}