* {
  margin: 0;
}
.home-page {
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
}


/* Navbar */

.navbar {
  border-bottom: 0.1rem solid #000000;
  background: #D8C3A4;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 2%;
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
}

.toggle-btn {
  margin-right: 1.4rem;
  display: none;
  width: 10%;
  box-sizing: border-box;
}



.logo-container-navbar {
  margin-right: 1.4rem;
  display: flex;
  width: 10%;
  box-sizing: border-box;
}

.logo {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.logo:hover {
  transform: scale(1.3);
}

.search-bar {
  border-radius: 1.3rem;
  border: 0.1rem solid #000000;
  background: #FFFFFF;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.75% 1.5%;
  width: 30%;
  height: fit-content;
  box-sizing: border-box;
  align-self: center;
}

.search-bar-text {
  width: 90%;
  overflow-wrap: break-word;
  font-family: var(--text-regular-normal-font-family, 'Roboto');
  font-weight: var(--text-regular-normal-font-weight, 400);
  font-size: var(--text-regular-normal-font-size, 1rem);
  line-height: var(--text-regular-normal-line-height, 1.5);
  color: #677583;
}

.search-icon {
  background: url('../assets/images/search_icon.png') 50% / cover no-repeat;
  margin: 0.1rem 0;
  width: 1.3rem;
  height: 1.3rem;
  align-self: center;
}

.pages {
  margin: 1% 0;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
}

.pages-container {
  padding: 0 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 20rem;
  height: fit-content;
  box-sizing: border-box;
}

.navbar-page-txt {
  overflow-wrap: break-word;
  font-family: var(--text-regular-normal-font-family, 'Roboto');
  font-weight: var(--text-regular-normal-font-weight, 400);
  font-size: var(--text-regular-normal-font-size, 1rem);
  line-height: var(--text-regular-normal-line-height, 1.5);
  color: #000000;
}

.navbar-page-txt:hover {
  transform: scale(1.1);
  color: white;
}

.more-pages {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}

.drop-down-icon {
  background: url('../assets/images/drop_down_icon.png') 50% / cover no-repeat;
  width: 1.5rem;
  height: 1.5rem;
}

.user-data {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
}

.sign-up-btn {
  box-shadow: 0rem 0.3rem 0.3rem 0rem rgba(0, 0, 0, 0.25);
  border-radius: 1.3rem;
  border: 0.1rem solid #000000;
  background: #FFFFFF;
  margin-right: 1rem;
  padding: 0.5rem 1.3rem;
  justify-self: center;
  box-sizing: border-box;
}

.sign-up-btn:hover {
  transform: scale(1.1);
  background: #C4B9AA;
}
.sign-up {
  overflow-wrap: break-word;
  font-family: var(--text-regular-normal-font-family, 'Roboto');
  font-weight: var(--text-regular-normal-font-weight, 400);
  font-size: var(--text-regular-normal-font-size, 1rem);
  line-height: var(--text-regular-normal-line-height, 1.5);
  color: #000000;
}

.shopping-bag-icn {
  background: url('../assets/images/shopping_bag_icn.png') 50% / cover no-repeat;
  width: 2.4rem;
  height: 2.4rem;
}

.shopping-bag-icn:hover {
  transform: scale(1.3);
}


@media (max-width: 830px) {
  .toggle-btn {
    display: block;
  }
  .pages {
    display: none;
  }
  .logo-container-navbar {
    width: auto;
  }
  .navbar {
    height: 4rem;
    justify-content: space-between;
  }
  .search-bar-text {
    display: none;
  }
  .search-bar {
    width: fit-content;
  }
  .logo {
    height: 3rem;
  }
  .logo:hover {
    transform: scale(1);
  }

}


/* Shop Now Introduction */

.shop-now-intro {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/images/shop_now_intro.png) 50% / cover no-repeat;
  display: flex;
  flex-direction: column;
  padding: 5%;
  width: 100%;
  box-sizing: border-box;
}

.intro-container {
  margin-bottom: 2.5rem;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: 50%;
  box-sizing: border-box;
}

.intro-header {
  margin-bottom: 1.5rem;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: var(--heading-desktop-h-1-font-family, 'Roboto');
  font-weight: var(--heading-desktop-h-1-font-weight, 700);
  font-size: var(--heading-desktop-h-1-font-size, 3.5rem);
  line-height: var(--heading-desktop-h-1-line-height, 1.2);
  color: #FFFFFF;
}


.intro-description {
  overflow-wrap: break-word;
  font-family: var(--text-medium-normal-font-family, 'Roboto');
  font-weight: var(--text-medium-normal-font-weight, 400);
  font-size: var(--text-medium-normal-font-size, 1.1rem);
  line-height: var(--text-medium-normal-line-height, 1.5);
  color: #FFFFFF;
}

.header-btn-container {
  display: flex;
  align-self: flex-start;
  width: 7.6rem;
  box-sizing: border-box;
}


.header-btn {
  box-shadow: 0rem 0.3rem 0.3rem 0rem rgba(0, 0, 0, 0.25);
  border-radius: 1.3rem;
  border: 0.1rem solid #000000;
  background: #C4B9AA;
  display: flex;
  padding: 0.8rem 0;
  width: 7.6rem;
  height: fit-content;
  box-sizing: border-box;
  justify-content: center;
}

.header-btn:hover {
  box-shadow: 0rem 0.3rem 0.3rem 0rem rgba(0, 0, 0, 0.25);
  border-radius: 1.3rem;
  border: 0.1rem solid #000000;
  background: #666666;
  transform: scale(1.2);
}


.header-btn-txt {
  overflow-wrap: break-word;
  font-family: var(--text-regular-normal-font-family, 'Roboto');
  font-weight: var(--text-regular-normal-font-weight, 400);
  font-size: var(--text-regular-normal-font-size, 1rem);
  line-height: var(--text-regular-normal-line-height, 1.5);
  color: #FFFFFF;
}


/* Mug Product Display */

.home-product {
  background: #F2E9D8;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5%;
  width: 100%;
  box-sizing: border-box;
}

.product-header {
  margin-bottom: 0.7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

.collection {
  margin-bottom: 1rem;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.5;
  color: #000000;
}

.category {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  box-sizing: border-box;
}

.product-category {
  margin-bottom: 1rem;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: var(--heading-desktop-h-2-font-family, 'Roboto');
  font-weight: var(--heading-desktop-h-2-font-weight, 700);
  font-size: var(--heading-desktop-h-2-font-size, 3rem);
  line-height: var(--heading-desktop-h-2-line-height, 1.2);
  color: #000000;
}

.product-description {
  overflow-wrap: break-word;
  font-family: var(--text-medium-normal-font-family, 'Roboto');
  font-weight: var(--text-medium-normal-font-weight, 400);
  font-size: var(--text-medium-normal-font-size, 1.1rem);
  line-height: var(--text-medium-normal-line-height, 1.5);
  color: #000000;
}

.product-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}


.product-row {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  padding-bottom: 1rem;
  width: 100%;
  box-sizing: border-box;
}

.product-card {
  background: #F2E9D8;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 0.5%;
  margin: 0 1%;
  width: 100%;
  box-sizing: border-box;
}


.product-card:hover {
  transform: scale(1.03);
  box-shadow: 0rem 0.3rem 0.3rem 0rem rgba(0, 0, 0, 0.25);
}


.image-container {
  width: 100%;
  height: 75%;
}

.product-image {
  margin-bottom: 1.5rem;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3%;
  width: 100%;
  box-sizing: border-box;
}


.product-name {
  overflow-wrap: break-word;
  font-family: var(--text-medium-semi-bold-font-family, 'Roboto');
  font-weight: var(--text-medium-semi-bold-font-weight, 600);
  font-size: var(--text-medium-semi-bold-font-size, 1.1rem);
  line-height: var(--text-medium-semi-bold-line-height, 1.5);
  color: #000000;
  text-align: center;
}
.product-variant {
  overflow-wrap: break-word;
  font-family: var(--text-small-normal-font-family, 'Roboto');
  font-weight: var(--text-small-normal-font-weight, 400);
  font-size: var(--text-small-normal-font-size, 0.9rem);
  line-height: var(--text-small-normal-line-height, 1.5);
  color: #000000;
}

.price {
  overflow-wrap: break-word;
  font-family: var(--text-large-semi-bold-font-family, 'Roboto');
  font-weight: var(--text-large-semi-bold-font-weight, 600);
  font-size: var(--text-large-semi-bold-font-size, 1.3rem);
  line-height: var(--text-large-semi-bold-line-height, 1.5);
  color: #000000;
  margin-bottom: 0.5rem;
}

.cart-btn {
  box-shadow: 0rem 0.3rem 0.3rem 0rem rgba(0, 0, 0, 0.25);
  border-radius: 1.3rem;
  border: 0.1rem solid #000000;
  background: #FFFFFF;
  display: flex;
  padding: 0.5rem 0;
  width: 100%;
  box-sizing: border-box;
  justify-content: center;
}

.cart-btn:hover {
  transform: scale(1.05);
  background: #C4B9AA;
}
.add-to-cart {
  overflow-wrap: break-word;
  font-family: var(--text-regular-normal-font-family, 'Roboto');
  font-weight: var(--text-regular-normal-font-weight, 400);
  font-size: var(--text-regular-normal-font-size, 1rem);
  line-height: var(--text-regular-normal-line-height, 1.5);
  color: #000000;
}




/* Testimonial */


.testimonial {
  background: #F2E9D8;
  display: flex;
  flex-direction: column;
  padding: 5%;
  width: auto;
  box-sizing: border-box;
}

.testimonial-container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.testimonial-heading {
  margin-bottom: 1.5rem;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: var(--heading-desktop-h-2-font-family, 'Roboto');
  font-weight: var(--heading-desktop-h-2-font-weight, 700);
  font-size: var(--heading-desktop-h-2-font-size, 3rem);
  line-height: var(--heading-desktop-h-2-line-height, 1.2);
  color: #000000;
}
.testimonial-desc {
  overflow-wrap: break-word;
  font-family: var(--text-medium-normal-font-family, 'Roboto');
  font-weight: var(--text-medium-normal-font-weight, 400);
  font-size: var(--text-medium-normal-font-size, 1.1rem);
  line-height: var(--text-medium-normal-line-height, 1.5);
  color: #000000;
}

.testimonial-content {
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}

.rating {
  margin-top: 2rem;
  display: flex;
  align-self: flex-start;
  width: 6.7rem;
  height: 1.6rem;
  box-sizing: border-box;
}

.star-rating {
  width: 6.7rem;
  height: 1.6rem;
}

.quote {
  margin: 0 2rem 2rem 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: var(--heading-desktop-h-6-font-family, 'Roboto');
  font-weight: var(--heading-desktop-h-6-font-weight, 700);
  font-size: var(--heading-desktop-h-6-font-size, 1.3rem);
  line-height: var(--heading-desktop-h-6-line-height, 1.4);
  color: #000000;
}

.testifier {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}

.testifier-image-male {
  border-radius: 1.8rem;
  background: url('../assets/images/testifier_image_1.jpeg') 50% / cover no-repeat;
  margin-right: 1.3rem;
  width: 3.5rem;
  height: 3.5rem;
}

.testifier-image-female {
  border-radius: 1.8rem;
  background: url('../assets/images/testifier_image.jpeg') 50% / cover no-repeat;
  margin-right: 1.3rem;
  width: 3.5rem;
  height: 3.5rem;
}

.testifier-container {
  margin: 1rem 0;
  display: flex;
  box-sizing: border-box;
}

.name {
  overflow-wrap: break-word;
  font-family: var(--text-regular-semi-bold-font-family, 'Roboto');
  font-weight: var(--text-regular-semi-bold-font-weight, 600);
  font-size: var(--text-regular-semi-bold-font-size, 1rem);
  line-height: var(--text-regular-semi-bold-line-height, 1.5);
  color: #000000;
}



/* Footer */

.footer {
  background: #D8C3A4;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.6% 5%;
  width: 100%;
  box-sizing: border-box;
}

.footer-container {
  margin-bottom: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  align-items: center;
}

.footer-content {
  display: flex;
  flex-direction: column;
  width: 21.9rem;
  box-sizing: border-box;
}

.logo-container-footer {
  margin-bottom: 2rem;
  display: flex;
  align-self: flex-start;
  width: 15.4rem;
  height: 4.5rem;
  box-sizing: border-box;
}


.footer-pages {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 21.9rem;
  box-sizing: border-box;
}

.footer-txt {
  margin-right: 0.8rem;
  overflow-wrap: break-word;
  font-family: var(--text-regular-semi-bold-font-family, 'Roboto');
  font-weight: var(--text-regular-semi-bold-font-weight, 600);
  font-size: var(--text-regular-semi-bold-font-size, 1rem);
  line-height: var(--text-regular-semi-bold-line-height, 1.5);
  color: #000000;
}

.subscription {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.sub-container {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}

.email-container {
  border: 0.1rem solid #000000;
  background: #FFFFFF;
  margin-right: 1rem;
  padding: 0.8rem;
  width: 17.8rem;
  box-sizing: border-box;
}

.email {
  font-family: var(--text-regular-normal-font-family, 'Roboto');
  font-weight: var(--text-regular-normal-font-weight, 400);
  font-size: var(--text-regular-normal-font-size, 1rem);
  line-height: var(--text-regular-normal-line-height, 1.5);
  color: #666666;
}

.submit-txt {
  overflow-wrap: break-word;
  font-family: var(--text-regular-normal-font-family, 'Roboto');
  font-weight: var(--text-regular-normal-font-weight, 400);
  font-size: var(--text-regular-normal-font-size, 1rem);
  line-height: var(--text-regular-normal-line-height, 1.5);
  color: #000000;
  border-radius: 1.3rem;
  padding: 0.8rem 0rem;
  width: 6.2rem;
  background: #FFFFFF;
  border-width: thin;
}

.sub-desc-container {
  display: flex;
  align-self: flex-start;
  box-sizing: border-box;
}

.sub-desc {
  font-family: var(--text-regular-normal-font-family, 'Roboto');
  font-weight: var(--text-regular-normal-font-weight, 400);
  font-size: var(--text-regular-normal-font-size, 1rem);
  line-height: var(--text-regular-normal-line-height, 1.5);
  color: #000000
}

.credits-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

.divider {
  border: 0.1rem solid #000000;
  background: #000000;
  margin: 0 0.2rem 2rem 0;
  width: 100%;
  height: 0.1rem;
}

.credit-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
}

.footer-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 22.2rem;
  box-sizing: border-box;
}

.footer-link {
  margin-right: 0.7rem;
  overflow-wrap: break-word;
  font-family: var(--text-small-link-font-family, 'Roboto');
  font-weight: var(--text-small-link-font-weight, 400);
  font-size: var(--text-small-link-font-size, 0.9rem);
  text-decoration-line: var(--text-small-link-text-decorationLine, underline);
  line-height: var(--text-small-link-line-height, 1.5);
  color: #000000;
}


@media (max-width: 830px) {
  .footer-container {
    flex-direction: column;
    align-items: flex-start;
  }
  .subscription {
    margin-top: 2rem;
  }
  .submit-txt {
    width: fit-content;
  }

}